body {
        font-family: Helvetica, sans-serif;
}

h1 {
    color: #333;
}

section {
    height: 100%;
}

#map {
    height: 400px;
    top: 0px;
    right: 0px;
    position: fixed;
    width: 1200px;
}

#sidebar {
    width: 400px;
}

#logo-container {
    background: #FCFCFC;
    border-bottom: 1px solid #CCCCCC;
    height: 80px;
    text-align: center;
}

#logo-container .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#logo-container img {
    width: 130px;
    vertical-align: middle;
}

md-list {
    padding: 0;
}

md-list-item.sidebar-element {
    box-sizing: border-box;
    flex-direction: column;
    height: auto;
    padding: 20px;
}

.sidebar-element.expanded {
    background: #FCFCFC;
}

.sidebar-element-header,
.sidebar-element-hidden {
    width: 100%;
    padding: 0;
}

.sidebar-element-hidden  {
    color: #555;
    padding: 10px 10px 0 55px;
}

.sidebar-header {
    color: #555;
    font-weight: bold;
    height: 20px;
    padding: 20px 20px 10px 20px;
}

.sidebar-footer {
    padding: 20px 80px;
}

.sidebar-input {
    margin: 0;
    width: 90%;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

#results {
    position: absolute;
    top: 401px;
    width: 1160px;
    height: 490px;
    right: 0px;
    overflow-y: scroll;
    background: #FCFCFC;
    padding: 0px 20px;
}

#results-title {
    height: 30px;
    font-size: 25px;
    font-weight: 500;
    padding: 20px;
}

.icon {
    width: 16px;
    margin-left:2px;
    vertical-align: middle;
    padding-bottom:3px;
    display: inline;
}

#card p {
    font-size: 14px;
    display: inline;
    margin-left: 4px;
}

#card h2 {
    font-size: 16px;
    font-weight: bold;
    margin: none;
    color: #4A4A4A;
    display: inline;
}

#price {
    font-size: 14px;
    color: #9b9b9b;
    margin-bottom: 20px;
}

#transport img {
    margin-right: 5px;
}

#step-time {
    font-size: 14px;
    color: #9b9b9b;
}

#step-instruction {
    font-size: 14px;
}

#transport-title {
    font-weight: bold;
    color: #4A4A4A;
}

p#public-transport {
    margin-left: 34px;
}

.small-font {
    font-size: 14px;
}

ol {
    margin-top: 0px;
    margin-left: 34px;
}

input#searchTextField.ng-valid.md-input:focus {
    border-color: #333;
}

.rzslider {
    margin: 10px 0;
    width: 70%;
}

.rzslider .rz-bar {
    height: 2px;
}

.rzslider .rz-pointer.rz-active {
    outline: none;
}

.rzslider .rz-pointer.rz-active:after {
    background-color: transparent;
}

.rzslider .rz-pointer {
    height: 10px;
    width: 10px;
    top: -4px;
    border-radius: 5px;
    background-color: #4A90E2;
}

.rzslider .rz-bar.rz-selection {
    border-radius: 5px;
    background-color: #4A90E2;
}

.price-range {
    color: #666;
    font-size: 12px;
}

.price-range-description {
    width: 250px;
    margin-left: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.school-header {
    font-weight: bold;
    margin: 10px 0;
}

button.md-raised.md-button.md-primary {
    background-color: #4A90E2;
}

button.md-primary.md-button {
    color: #4A90E2;
}
