<div class="sidebar-container">
    <div id="logo-container">
        <span class="helper"></span>
        <img src="/img/home.png">
    </div>
    <div class="sidebar-header">
        Search criteria
    </div>
    <md-list>
        <md-divider ng-if="!$last"></md-divider>
        <!-- Work -->
        <md-list-item class="sidebar-element" ng-class="{expanded: form.work.checked}">
            <div class="sidebar-element-header">
                <input class="sidebar-checkbox" type="checkbox" ng-model="form.work.checked">
                <img class="icon" src="img/job-icon.png"></img>
                <span>Close to work</span>
            </div>
            <div
                class="sidebar-element-hidden"
                ng-show="form.work.checked">
                <md-input-container class="sidebar-input"  md-no-float class="md-block">
                    <input id="searchTextField" name="destination" ng-model="form.work.destination" placeholder="Enter the address" id="searchTextField" name="destination">
                </md-input-container>
            </div>
            <md-divider></md-divider>
        </md-list-item>
        <!-- Transport -->
        <md-list-item class="sidebar-element" ng-class="{expanded: form.transport.checked}">
            <div class="sidebar-element-header">
                <input class="sidebar-checkbox" type="checkbox" ng-model="form.transport.checked">
                <img class="icon" src="img/transport-icon.png"></img>
                <span>Public transport</span>
            </div>
            <div
                class="sidebar-element-hidden"
                ng-if="form.transport.checked">
                <div>
                    <input type="checkbox" ng-model="form.transport.bus"></input>
                    <span>Bus</span>
                </div>
                <div>
                    <input type="checkbox" ng-model="form.transport.train"></input>
                    <span>Train</span>
                </div>
                <div>
                    <input type="checkbox" ng-model="form.transport.ferry"></input>
                    <span>Ferry</span>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>
        <!-- Nearby attractions -->
        <md-list-item class="sidebar-element" ng-class="{expanded: form.attractions.checked}">
            <div class="sidebar-element-header">
                <input class="sidebar-checkbox" type="checkbox" ng-model="form.attractions.checked">
                <img class="icon" src="img/tree-icon.png"></img>
                <span>Nearby attractions</span>
            </div>
            <div
                class="sidebar-element-hidden"
                ng-if="form.attractions.checked">
                <div>
                    <input type="checkbox" ng-model="form.attractions.parks.checked"></input>
                    <span>Parks</span>
                </div>
                <div>
                    <input type="checkbox" ng-model="form.attractions.beaches.checked"></input>
                    <span>Beaches</span>
                </div>
                <div>
                    <input type="checkbox" ng-model="form.attractions.trails.checked"></input>
                    <span>Walking trails</span>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>
        <!-- Nearby shopping -->
        <md-list-item class="sidebar-element" ng-class="{expanded: form.shops.checked}">
            <div class="sidebar-element-header">
                <input class="sidebar-checkbox" type="checkbox" ng-model="form.shops.checked">
                <img class="icon" src="img/shops-icon.png"></img>
                <span>Nearby shops</span>
            </div>
            <md-divider></md-divider>
        </md-list-item>
        <!-- Price range -->
        <md-list-item class="sidebar-element" ng-class="{expanded: form.price.checked}">
            <div class="sidebar-element-header">
                <input class="sidebar-checkbox" type="checkbox" ng-model="form.price.checked">
                <img class="icon" src="img/price_icon.png"></img>
                <span>Price range</span>
            </div>
            <div
                class="sidebar-element-hidden"
                ng-if="form.price.checked">
                <div class="price-range-description">
                    <span>Between <strong>${{form.price.min}}</strong> and <strong>${{form.price.max}}</strong></span>
                </div>
                <div>
                    <span class="price-range">${{form.price.options.floor}}</span>
                    <rzslider
                        rz-slider-model="form.price.min"
                        rz-slider-high="form.price.max"
                        rz-slider-options="form.price.options"></rzslider>
                    <span class="price-range">${{form.price.options.ceil}}</span>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>
        <!-- Crime rate -->
        <md-list-item class="sidebar-element" ng-class="{expanded: form.crime.checked}">
            <div class="sidebar-element-header">
                <input class="sidebar-checkbox" type="checkbox" ng-model="form.crime.checked">
                <img class="icon" src="img/crime-icon.png"></img>
                <span>Crime rate</span>
            </div>
            <md-divider></md-divider>
        </md-list-item>
        <!-- Close to schools -->
        <md-list-item class="sidebar-element" ng-class="{expanded: form.schools.checked}">
            <div class="sidebar-element-header">
                <input class="sidebar-checkbox" type="checkbox" ng-model="form.schools.checked">
                <img class="icon" src="img/school-icon.png"></img>
                <span>Close to schools</span>
            </div>
            <div
                class="sidebar-element-hidden"
                ng-if="form.schools.checked">
                <div class="school-header">School level</div>
                <input type="checkbox" name="level" ng-model="form.schools.primary" value="primary">Primary<br>
                <input type="checkbox" name="level" ng-model="form.schools.secondary" value="secondary">Secondary<br>
                <div class="school-header">Gender</div>
                <input type="checkbox" name="gender" ng-model="form.schools.coed" value="coed">Coed<br>
                <input type="checkbox" name="gender" ng-model="form.schools.girls" value="girls">Girls<br>
                <input type="checkbox" name="gender" ng-model="form.schools.boys" value="boys">Boys<br>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <div class="sidebar-footer">
        <button class="md-primary md-button" ng-click="$ctrl.reset()">Clear</button>
        <button class="md-raised md-button md-primary" ng-click="$ctrl.update(form)">Update</button>
    </div>
</div>
